html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    font-weight: bolder;
    background-color: white;
    color : #1d8182;
}

div {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

table {
    border-collapse: collapse;
}

tr, td {
    padding: 0;
}

.block {
    display: block;
    flex-grow: 0;
}

#control {
    flex-grow: 0;
    justify-content: center;
}

#message {
    align-items: end;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10px 10px 10px;
    flex-grow: 0;
}

.button {
    background-color: white;
    border-radius: 5px;
    border: 5px solid #5f3a24;
    padding: 5px;
    text-align: center;
    color : #1d8182;
}

.button:hover {
    cursor: pointer;
    background-color: #5f3a24;
    border-color: #1d8182;
    color:white;
}

#popup {
    display: none;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    position: absolute;
    top : 0;
    left : 0;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

#popup-message {
    flex-grow: 0;
    background-color: white;
    color : #1d8182;
    border-radius: 5px;
    border: 5px solid #5f3a24;
    padding: 10px;
    max-width: 75%;
    cursor: pointer;
}

.indice {
    flex-direction: column;
    justify-content: center;
}

#scene {
    background-color: white;
    justify-content: space-evenly;
    align-self: center;
    align-items: start;
    width: 100%;
    flex-grow: 1;
}

.carre {
    width: 80px;
    height: 80px;
    background-image: url(./assets/carre.png);
    background-size: 100%;
}

.savon {
    background-image: url(./assets/savon.png);
}

.cassure {
    background-color: black;
    cursor: pointer;
}

.cassure:hover {
    background-color: red;
    z-index: 999;
}

.horizontal {
    height: 10px;
}

.vertical {
    width: 10px;
}

#joueur {
    font-size: xx-large;
}